<a href="https://colab.research.google.com/github/yaralikurzaev/Python-4545-/blob/main/Sem10Task44.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)

data = pd.DataFrame({'whoAmI':lst})
# data
# data.head()
pd.get_dummies(data['whoAmI'])

    human  robot
0       1      0
1       0      1
2       0      1
3       1      0
4       0      1
5       0      1
6       1      0
7       1      0
8       1      0
9       1      0
10      1      0
11      0      1
12      0      1
13      1      0
14      0      1
15      1      0
16      0      1
17      0      1
18      0      1
19      1      0

In [ ]:
data.loc[data['whoAmI'] == 'robot', 'robot'] = '1'
data.loc[data['whoAmI'] == 'robot', 'human'] = '0'
data.loc[data['whoAmI'] == 'human', 'human'] = '1'
data.loc[data['whoAmI'] == 'human', 'robot'] = '0'

In [ ]:
data = data.drop(columns='whoAmI')
data

   robot human
0      0     1
1      1     0
2      1     0
3      0     1
4      1     0
5      1     0
6      0     1
7      0     1
8      0     1
9      0     1
10     0     1
11     1     0
12     1     0
13     0     1
14     1     0
15     0     1
16     1     0
17     1     0
18     1     0
19     0     1